<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--Conexion de la base de Datos-->
	<connectionStrings>
		<add name="default" connectionString="Data Source=localhost;Initial Catalog=Electronics;Integrated Security=false;MultipleActiveResultSets=true;Application Name=Electronics APP;User Id=sa;Password=123456" providerName="System.Data.SqlClient"/>
		<add name="UTN.Winform.Electronics.Properties.Settings.ElectronicsConnectionString" connectionString="Data Source=.;Initial Catalog=Electronics;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
